@import url(./root.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    scroll-behavior: smooth;
    list-style-type: none;
}

.container {
    max-width: 1140px !important;
}

.custum-1390 {
    max-width: 1390px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.bg-nav {
    background-color: var(--color-nav);
}

.bg-header {
    background-color: var(--color-main-less);
}

.pt-12 {
    padding-top: 12px;
}

.mw-404 {
    max-width: 404px;
}

.lh-24 {
    line-height: 24px;
}

.mx-802 {
    max-width: 802px;
}

.mx-730 {
    max-width: 730px;
}

.button-text {
    font-family: var(--ff-main);
    font-size: var(--fs-sm);
    font-weight: 600;
}

.dots-relevent {
    position: absolute;
    left: 8%;
    bottom: 4%;
    max-width: 43px;
    z-index: -1;
}

.book-call {
    padding: 16px 30px;
    border-radius: 5px;
    border: 1px solid var(--color-gray);
    background: var(--color-white-bg);
    transition: all 300ms linear;
    box-shadow: 5px 5px 0px 0px var(--color-gray);
}

.book-call:hover {
    box-shadow: unset;
}

.mw-612 {
    max-width: 612px;
}

.ellipes-service-one {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 300px;
    width: 100%;
    height: 138px;
    border-radius: 300px;
    background: var(--Linear, linear-gradient(125deg, var(--color-yellow) 0%, var(--color-yellow) 100%));
    filter: blur(239px);
}

.pollygon-service {
    position: absolute;
    left: 5%;
    top: 4%;
    max-width: 16px;
    max-height: 23px;
}

.ellipes-service-two {
    position: absolute;
    bottom: 0;
    right: -20%;
    max-width: 300px;
    width: 100%;
    height: 138px;
    border-radius: 300px;
    background: var(--Linear, linear-gradient(125deg, var(--color-yellow) 0%, var(--color-yellow) 100%));
    filter: blur(239px);
}

.gap-30 {
    gap: 30px;
}

.lh-30 {
    line-height: 30px;
}

.border-top-custum {
    border-top: 1px solid var(--color-gary-bed);
}

.mw-1138 {
    max-width: 1138px;
    margin-left: auto;
    margin-right: auto;
}

.bb-cancel {
    border-bottom: 1px solid var(--color-bb-c);
}

.getstarted {
    border-radius: 5px;
    border: 2px solid var(--color-gray);
    padding: 16px 50px;
    width: 100%;
    text-align: center;
    background-color: transparent;
}

.prices-longpepic {
    position: absolute;
    top: 2px;
    max-width: 133px;
    max-height: 106px;
    left: 0;
}

.card-price-plan {
    padding: 24px 17px 11px 18px;
    border-radius: 15px;
    text-wrap: nowrap;
    border: 1px solid var(--color-gray);
    transition: all 300ms linear;
    height: 100%;
}

.card-prize-upper-card {
    padding: 12px 25px;
    border-radius: 45px;
    transition: all 300ms linear;
    border: 1px solid var(--color-gray);
    background: var(--color-white-bg);
}

.set-uppercard {
    position: absolute;
    left: 24px;
    top: -32px;
    transition: all 300ms linear;
}

.card-price-plan:hover {
    border: 1px solid var(--color-yellow);
    box-shadow: 10px 10px 0px 0px var(--color-yellow);
}

.card-price-plan:hover .card-prize-upper-card {
    border: 1px solid transparent;
    background: var(--color-yellow);
}

.card-price-plan:hover .getstarted {
    border: 2px solid var(--color-hove);

}

.sarvicecard-row-one {
    padding: 14px 7px;
    text-wrap: nowrap;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: 1px solid transparent;
    border: 1px solid var(--color-row);
    transition: all 300ms linear;
}

.sarvicecard-row-one:hover {
    border: 1px solid var(--color-yellow);
    box-shadow: 5px 5px 0px 0px var(--color-yellow);
}

.sarvicecard-row-two {
    padding: 14px 7px;
    text-wrap: nowrap;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border: 1px solid var(--color-row);
    transition: all 300ms linear;
}

.sarvicecard-row-two:hover {
    border: 1px solid var(--color-yellow);
    box-shadow: 5px 5px 0px 0px var(--color-yellow);
}

.py-230-270 {
    padding-top: 230px;
    padding-bottom: 177.4px;
}

.sarvicecard-row-three {
    padding: 14px 7px;
    text-wrap: nowrap;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: 1px solid transparent;
    border: 1px solid var(--color-row);
    transition: all 300ms linear;
}

.sarvicecard-row-three:hover {
    border: 1px solid var(--color-yellow);
    box-shadow: 5px 5px 0px 0px var(--color-yellow);
}

.sarvicecard-row-four {
    padding: 14px 7px;
    text-wrap: nowrap;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
    height: 100%;
    border: 1px solid transparent;
    border: 1px solid var(--color-row);
    transition: all 300ms linear;
}

.sarvicecard-row-four:hover {
    border: 1px solid var(--color-yellow);
    box-shadow: 5px 5px 0px 0px var(--color-yellow);
}

/* .bg-header-ellipes {} */

.ellipes-custum {
    position: absolute;
    max-width: 881px;
    width: 100%;
    height: 83px;
    top: 62%;
    z-index: -1;
    flex-shrink: 0;
    border-radius: 881px;
    background: var(--Linear, linear-gradient(125deg, var(--color-yellow) 0%, var(--color-yellow) 100%));
    filter: blur(239px);
}

.bluedotblack {
    position: absolute;
    left: 0;
    top: 4%;
    max-height: 67px;
    max-width: 90px;
    width: 100%;
    z-index: -1;
}

.longorange {
    position: absolute;
    left: 0;
    bottom: 4%;
    max-height: 90px;
    max-width: 119px;
    width: 100%;
    z-index: -1;
}

.green-triangle {
    position: absolute;
    right: 0;
    bottom: 0;
    max-height: 106px;
    max-width: 90px;
    width: 100%;
    z-index: -1;
}

.yellow-blob {
    position: absolute;
    right: 0;
    top: 14%;
    max-height: 90px;
    max-width: 94px;
    width: 100%;
    z-index: -1;
}

.upper-left-clip {
    position: absolute;
    top: 6%;
    width: 100%;
    height: 100%;
    max-width: 84.263px;
    max-height: 51.188px;
    left: 33%;
}

.lower-left-clip {
    position: absolute;
    bottom: 22%;
    max-width: 66px;
    max-height: 69.034px;
    height: 100%;
    width: 100%;
    left: 6%;
}

.lower-right-clip {
    position: absolute;
    bottom: 13%;
    max-width: 58px;
    max-height: 56.109px;
    width: 100%;
    height: 100%;
    right: 33%;
}

.upper-right-clip {
    position: absolute;
    max-width: 65px;
    max-height: 70.843px;
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    top: 3%;
    right: 17%;
}

.esport-card img {
    border-radius: 15px;
}

.gap-21 {
    gap: 21px;
}

.bg-esport {
    background-color: var(--color-white-bg);
}

.bg-main {
    background-color: var(--color-bgmain);
}

.mw-697 {
    max-width: 697px;
}

#relevent .slick-list {
    overflow: unset !important;
}

.blue-relevent {
    position: absolute;
    top: 1%;
    left: 0;
    max-width: 67px;
    z-index: -1;
}

.lower-relevent {
    position: absolute;
    right: 5%;
    top: 2%;
}

.prize-wifi {
    max-width: 52px;
    max-height: 50px;
    position: absolute;
    right: 27%;
    top: 0.5%;
    z-index: -1;
}

.greenfulltrinagle {
    position: absolute;
    max-width: 74px;
    max-height: 63px;
    top: 3%;
    left: 0;
}

.prize-candy {
    max-width: 52px;
    max-height: 70px;
    position: absolute;
    left: 7%;
    top: 70%;
    z-index: -1;
}

.wifiwebfow {
    position: absolute;
    bottom: 30%;
    left: 19%;
}

.wifi-service {
    position: absolute;
    right: 4%;
    max-width: 32px;
    max-height: 31.815px;
    transform: rotate(154deg);
    top: 1%;
}

.service-canday {
    position: absolute;
    bottom: 9%;
    left: 3%;
}

.dots-service {
    position: absolute;
    bottom: 16%;
    right: 2%;
}

.bluewebflow-epic {
    position: absolute;
    right: 10%;
    bottom: 0%;
    max-width: 103px;
    max-height: 103px;
}

.triangle-relevent {
    position: absolute;
    max-width: 82px;
    max-height: 69px;
    width: 100%;
    height: 100%;
    bottom: 0%;
    right: 0%
}

.ellippes-webflow-1 {
    max-width: 233px;
    max-height: 108px;
    width: 100%;
    height: 100%;
    background: var(--Linear, linear-gradient(125deg, var(--color-yellow) 0%, var(--color-yellow) 100%));
    filter: blur(239px);
    position: absolute;
    top: 22%;
    left: 0;
    z-index: 1;
}

.price-plan-book-card img {
    height: 100%;
    max-width: 191px;
    height: 100%;
    max-height: 150px;
}

/* accordion  */
.accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0 !important;
    font-size: var(--fs-md) !important;
    color: var(--bs-accordion-btn-color);
    text-align: left;
    background-color: transparent !important;
    border: none !important;
    border-radius: 0;
    overflow-anchor: none;
}

.accordion {
    --bs-accordion-color: unset !important;
    --bs-accordion-bg: transparent !important;
    --bs-accordion-border-color: none !important;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(../images/arrow-accordion.png) !important;
    transform: var(--bs-accordion-btn-icon-transform);
}

#custumer .slick-track {
    display: flex !important;
}

#custumer .slick-slide {
    height: inherit !important;
    display: flex !important;
}

#custumer .slick-slide>div {
    display: flex;
}

.accordion-item {
    margin-top: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid #E6E3DE !important;
}

.accordion-item:last-child {
    border-bottom: none !important;
}

.accordion-item:last-of-type {
    border-bottom-right-radius: unset !important;
    border-bottom-left-radius: unset !important;
}

.mw-879 {
    max-width: 897px !important;
}

.accordion-button:not(.collapsed) {
    color: unset !important;
    background-color: none !important;
    box-shadow: none !important;
}

.relevent-card img {
    border-radius: 15px;
}

.slick-dots li {
    width: 31px !important;
    height: 11px !important;
    border-radius: 34px;
    background-color: #D8D3C2 !important;
}

.slick-dots li button:before {
    content: "" !important;
}


.slick-dots li.slick-active {
    opacity: 1 !important;
    width: 57px !important;
    background-color: #3C3C3C !important;
}

/* .slick-dots {
    bottom: -50px !important;
} */

.blue-accordion {
    max-width: 70px;
    max-height: 70.254px;
    position: absolute;
    left: 0%;
    top: -2%;
}

.greent-accordion {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    right: 0%;
    max-width: 72px;
    max-height: 61px;
    bottom: 5%;
}

#relevent .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: flex !important;
    align-items: center !important;
}

#relevent .card-relevent.slick-current .relevent-card img {
    width: 831.575px;
    min-height: 700.369px;
    height: 100%;
    object-fit: fill;
}

#custumer div.slick-current .coustmer-card {
    border: 1px solid var(--color-yellow);
    box-shadow: 10px 10px 0px 0px var(--color-yellow);
}

.accordion-button::after {
    width: 28px !important;
    height: 28px !important;
    background-image: url(../images/arrow-accordion.png) !important;
}

.fotsvg {
    transition: all .3s linear;
}

.fotsvg:hover {
    transform: translateY(-15%);
}

.arlene {
    max-width: 70px;
    max-height: 70px;
}

.accordion-button:focus {
    box-shadow: unset !important;
}

.accordion-body {
    padding: 0 !important;
    padding-top: 16px !important;
    padding-right: 25px !important;

}

.ellippes-webflow-2 {
    max-width: 241px;
    max-height: 110px;
    width: 100%;
    height: 100%;
    background: var(--Linear, linear-gradient(125deg, #FFCF23 0%, #FFA723 100%));
    filter: blur(239px);
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
}

.contactus {
    padding: 16px 30px;
    outline: 2px solid transparent;
    border: none;
    border-radius: 5px;
    background: var(--Linear, linear-gradient(125deg, var(--color-yellow) 0%, #FFA723 100%));
    transition: all 300ms linear !important;
}

.contactus:hover {
    background: transparent;
    box-shadow: 5px 5px 0px 0px var(--color-yellow);
    outline: 2px solid var(--color-yellow) !important;
    color: var(--color-yellow);
}

.bookimg {
    mix-blend-mode: multiply;
}

.callbook {
    padding: 14px 32px;
    width: 100%;
    max-width: 160px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.40);
    transition: all 300ms linear;
}

.gap-13 {
    gap: 13px;
}

.backto-top {
    width: 35px;
    height: 35px;
    border-radius: 100px;
    cursor: pointer;
}

.load-reload {
    width: 50px;
    border-radius: 50%;
    height: 50px;
    border-top: 2px solid var(--color-gray);
    animation: moveit 2s infinite;
}

@keyframes moveit {
    0% {
        transform: rotate(360deg);
    }

}

.footlink {
    transition: all 300ms linear;
}

.footlink:hover {
    color: var(--color-white);
}

.z-5 {
    z-index: 5;
}

.addon {
    padding: 12px 23px;
    border-radius: 39px;
    border: 2px solid transparent;
    background: rgba(255, 255, 255, 0.20);
}

.callbook:hover {
    box-shadow: 5px 5px 0px 0px rgba(0, 0, 0, 0.40);
}

.border-left-custum-book {
    border-right: 2px solid rgba(0, 0, 0, 0.10);
}

.gap-41 {
    gap: 41px;
}

.py-27-28 {
    padding-top: 27px;
    padding-bottom: 28px;
}

.accordion-canady {
    position: absolute;
    top: 0%;
    right: 6%;
}

.under-nav::after {
    content: '';
    position: absolute;
    bottom: -12px;
    left: 50%;
    width: 0;
    height: 4px;
    border-radius: 15px;
    background-color: var(--color-white);
    transition: all 300ms linear;
}

.coustmer-card div div img {
    border-radius: 276px;
}

.under-nav:hover::after {
    width: 100%;
    left: 0;
}

.login {
    padding: 16px 30px;
    border-radius: 5px;
    border: 1px solid var(--color-white);
    transition: all 300ms linear;
}

.login:hover {
    border: 1px solid transparent;
    background: var(--500, #80765D);
}

.coustmer-card {
    padding: 20px;
    border-radius: 15px;
    border: 1px solid transparent;
    transition: all 300ms linear;
    border: 1px solid var(--color-gray);
    max-width: 891px;
}

.coustmer-card img {
    border-radius: 276px;
}

/* navbar-responsive */
.over-layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: -101%;
    left: 0;
    background: #d59dff17;
    transition: all 0.5s ease-in-out;
    z-index: 1;
}

.fix1,
.fix2,
.fix3 {
    transition: all 0.2s ease-in-out;
}

.fixer1 {
    display: none;
}

.fixer2 {
    transform: rotate(48deg) translate(18px, 14px);
    width: 21px !important;
}

.fixer3 {
    transform: rotate(-45deg) translate(16px, -14px);
    width: 21px !important;
}


@media (max-width:991.9px) {
    .nav-bg {
        background-color: #2F2E2E;
        border-radius: 37px;
        transform: translateY(-10px) translate3d(0px, 0px, 12px) rotate3d(0deg, 0deg, 90deg);
    }

    .nav-2 {
        width: 46px !important;
        height: 46px !important;
    }

    .nav {
        width: 28px;
        height: 19px;
        cursor: pointer;
        position: absolute;
        top: 38px;
        right: 7px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
        z-index: 4;
    }

    label[id="nav"]>span {
        width: 28px;
        height: 2px;
        border-radius: 5px;
        background-color: var(--color-white);
    }

    .menubar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        width: 100%;
        max-width: 475px;
        min-height: 100%;
        background: #242323;
        position: fixed;
        top: 0;
        z-index: 3;
        left: 0;
        top: -101%;
        opacity: 1;
        transition: all 0.5s ease-in-out;
        box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    }

    .menubar .small-screen {
        max-width: 303px;
        width: 100%;
        margin-bottom: 60px;
        margin-left: auto;
        margin-right: auto;
    }

    .gap-41 {
        gap: 0px;
    }

    .menubar .small-screen::after {
        content: '';
        position: absolute;
        max-width: 303px;
        width: 100%;
        height: 1px;
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        background-color: var(--color-white);
        left: 0;
        bottom: -30px;
    }

    .left-0 {
        left: 0;
        top: 0;
    }

    .over-flow {
        overflow-y: hidden;
    }
}

@media (min-width:576px) {
    .card-relevent .relevent-card img {
        width: 710px;
        height: 598px;
    }

    .py-230-270 {
        padding-top: 230px;
        padding-bottom: 189px;
    }
}

@media (min-width:768px) {
    .getstarted {
        padding: 16px 80px;
    }

    .card-price-plan {
        padding: 56px 32px 32px 31px;
    }

    .sarvicecard-row-one {
        padding: 14px 32px;
    }

    .sarvicecard-row-two {
        padding: 14px 32px;
    }

    .sarvicecard-row-three {
        padding: 14px 32px;
    }

    .sarvicecard-row-four {
        padding: 14px 32px;
    }

    .card-prize-upper-card {
        padding: 12px 57px;
        border-radius: 45px;
        transition: all 300ms linear;
        border: 1px solid var(--color-gray);
        background: #FFF9E4;
    }

    .arlene {
        max-width: 184px;
        max-height: 191px;
    }

    .coustmer-card {
        padding: 54px 58px;
        border-radius: 15px;
        border: 1px solid transparent;
        transition: all 300ms linear;
        border: 1px solid var(--color-gray);
        max-width: 891px;
    }

    .gap-md-44 {
        gap: 44px;
    }

    .py-230-270 {
        padding-top: 230px;
        padding-bottom: 189px;
    }
}

@media (min-width:992px) {
    .upper-right-clip {
        top: 18%;
        right: 17%;
    }

    .lower-left-clip {
        bottom: 22%;
        left: 26%;
    }

    .blue-relevent {
        top: 3%;
        left: 0%;
        max-width: 212px;
    }

    .lower-relevent {
        right: 17%;
        top: 4%;
    }

    .dots-relevent {
        left: 8%;
        bottom: 6%;
        max-width: 105px;
    }

    .triangle-relevent {
        max-width: 199px;
        max-height: 190px;
    }

    .prices-longpepic {
        top: 3%;
        max-width: 246px;
        max-height: 197px;
        left: 0;
    }

    .prize-wifi {
        max-width: 67px;
        max-height: 64px;
        right: 27%;
        top: 3%;
    }

    .prize-candy {
        max-width: 52px;
        max-height: 70px;
        left: 7%;
        top: 58%;
    }

    .greenfulltrinagle {
        max-width: 153px;
        max-height: 138px;
        top: 3%;
        left: 13%;
    }

    .bluewebflow-epic {
        right: 10%;
        bottom: 0%;
        max-width: 196px;
        max-height: 196px;
    }

    .pollygon-service {
        left: 8%;
        top: 15%;
        max-width: 50px;
        max-height: 73.529px;
    }

    .wifi-service {
        right: 22%;
        max-width: 67px;
        max-height: 64.815px;
        top: 13%;
    }

    .greent-accordion {
        max-width: 199.68px;
        max-height: 169.739px;
    }

    .blue-accordion {
        max-width: 168px;
        max-height: 166px;
    }

    .bluedotblack {
        position: absolute;
        left: 0;
        top: 4%;
        max-height: 67px;
        max-width: 90px;
        width: 100%;
        z-index: -1;
    }

    .py-230-270 {
        padding-top: 230px;
        padding-bottom: 189px;
    }
}

@media (min-width:1200px) {
    .yellow-blob {
        top: 16%;
        max-height: 212px;
        max-width: 226px;
    }

    .bluedotblack {
        left: 0;
        top: 21%;
        max-height: 212px;
        max-width: 212px;
    }

    .green-triangle {
        position: absolute;
        right: 0;
        bottom: 0;
        max-height: 199px;
        max-width: 200px;
        width: 100%;
        z-index: -1;
    }

    .longorange {
        max-height: 212px;
        max-width: 265px;
    }

    .getstarted {
        padding: 16px 103px;
    }

    .min-vh_100 {
        min-height: 100vh;
    }

    .py_0 {
        padding-top: unset;
        padding-bottom: unset;
    }

}